<!-- Intro Header -->
<div class="filter-me">
</div>
<header class="masthead">
  <!--<section id="intro-filter">-->
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading">Philip J Spelman</h1>
          <br/>
          <p class="intro-text">
            Software Developer. Researcher. Clinician.
            <!--<br>Thank you for visiting</p>-->
            <br/>
            <br/>
            <a href="#about" pageScroll class="btn btn-circle">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
  <!--</section>-->
</header>




<!-- About Section -->
<span id="about"></span>
  <section class="content-section text-center" id="about_me_holder">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8 mx-auto" id="about_me">
          <h2>Analytical. Creative.<br/>Solution-focused.</h2>
          <p>
            <br/>
            I am fascinated by all things tech; from laser diodes and photoresistors, to robots and smart machines, to automated assistants, databases, and mobile apps. I broke my first computer when I was 11 to figure out how it worked. I am passionate about building solutions and solving puzzles related and unrelated to tech.<br/>
          </p>
          <p>
            I am a software developer with formal training as an academic researcher and clinical psychologist. I bring creativity, perseverance, and emotional stability to my team; I bring a diverse perspective and advanced training as a scientist to my work as a developer.
            <br/>
            <br/>
            <!--Non-tech experiences include research, writing, publishing, statistical analyses, therapy, psychological assessment, and many others. <br/>-->
            <!--<br/>-->
            Non-tech-related hobbies include martial arts, playing piano and singing, speaking French, and bicycle riding.
        </div>
      </div>
    </div>
  </section>




<!-- Projects Section -->
<section id="projects">

  <div class="col-sm-12">
    <div class="offset-sm-2">
    <div class="project-card col-sm-10">
      <br/>
      <div class="col-sm-8">

      <h2>Current & Past Projects</h2>
      </div>
<br/>
      <div class="col-sm-12 col-lg-10">

        <!--<a href="/resume" class="btn btn-default btn-lg">-->
          <!--Résumé-->
        <!--</a>-->

        <a href="http://philspelman.com/research/" target="_blank" class="btn btn-default btn-lg">
          Bx Research Tool
        </a>
        <!--<h4>Resume</h4>--><br/><br/>
        <p>
          The goal of this project is to facilitate behavioral economics / substance use research. I am developing it in Python with Django. This project involves dual deployment of MEAN and Django projects on the same server using Nginx.<br/>
          <br/>
          Usage Scenario: <br/>
          - Researcher wants to measure motivation for a commodity (e.g., alcohol)<br/>
          - Researcher gives participants a link with embedded email and participant id<br/>
          <span class="offset-sm-0 offset-md-0 offset-lg-1"></span>[Example: <a style="word-break: break-word;" href="http://philspelman.com/research/task/researcher@someuniversity.edu/0001" target="_blank"><small>http://philspelman.com/research/task/researcher@someuniversity.edu/0001</small></a>]
          <br/>
          - Participant clicks the link and completes the task
          <br/>
          - Raw and analyzed data are emailed back to the researcher (disabled in demo version)
          <br/>
          <br/>
          Read about the project on my <a href="https://www.researchgate.net/project/Accessible-Online-Purchase-Tasks-for-Researchers" target="_blank" class="btn">ResearchGate</a> profile, or click the button to try it out.
        </p>
        <br/>




        <a class="btn btn-default btn-lg" href="http://www.philspelman.com">Portfolio</a>
        <br/><br/>
        <p>
          My portfolio (this site) is a MEAN-stack project, designed to be a responsive, sigle-page application. Tech includes Angular 5/6, HTML, SASS, NodeJS, Express, JavaScript, and Bootstrap 4.
        </p>
        <br/>


        <a class="btn btn-default btn-lg" pageScroll="" routerLink="/resume" href="#page-top">résumé</a>
        <br/><br/>
        <p>
          This project was an endeavor to create a responsive résumé based on a visually appealing template. The finished product is my actual résumé.
        </p>
        <br/>




        <a href="https://github.com/pspelman/crate_game/blob/master/screenshots/crategame_screenshot_puzzle.png?raw=true" target="_blank" class="btn btn-default btn-lg">
          Crate Pusher
        </a>
        <br/><br/>
        <p>
          A final project for a graduate CS course on web app development. Follow the link to see a screenshot of the game, which was developed in PHP, JavaScript, HTML5 canvas, MySQL and Apache.
        </p>
        <br/>


        <a href="http://www.github.com/pspelman" target="_blank" class="btn btn-default btn-lg">
          PSPELMAN @ GitHub
        </a>
        <br/><br/>
        <p>
          My other code / projects can be found on GitHub
        </p>

      </div>
    </div>
      <br/>


    </div>
  </div>
</section>




<!-- Contact Section -->
<section id="contact" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Contact Me</h2>
        <p>Please contact me via email or LinkedIn for further information and availability.</p>
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="mailto:phil_spelman@hotmail.com" class="btn btn-default btn-lg">
              <i class="fa fa-mail-forward fa-fw"></i>
              <span class="network-name">Email</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://linkedin.com/in/philspelman" target="_blank" class="btn btn-default btn-lg">
              <i class="fa fa-linkedin-square fa-fw"></i>
              <span class="network-name">LinkedIn</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/pspelman" target="_blank" class="btn btn-default btn-lg">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


