<div id="resume-top">
</div>
<br/>
<br/>
<br/>

<div class="neutral-backdrop">
  <div class="col-sm-12 resume-holder">

    <div id="left_column" class="col-sm-4">
      <div class="name_title offset-sm-3">
        <span id="name_holder">Philip J.<br/>
          Spelman,<br/>
           M.A.</span>
      </div>
      <div class="innerDiv offset-sm-3">
        <div id="tagline">
          <h2 class="left">
            SOFTWARE DEVELOPER,<br/>RESEARCHER, CLINICIAN
          </h2>
        </div>
      </div>

      <!--<div class="hr-left col-sm-12"></div>-->
      <div class="innerDiv contact-info">
        +1-206-920-3951<br/>
        <a href="mailto:phil.spelman@gmail.com">phil.spelman@gmail.com</a><br/>
        <a href="http://philspelman.com" target="_blank">philspelman.com</a><br/>
        <a href="https://www.linkedin.com/in/philspelman" target="_blank">linkedin.com/in/philspelman</a><br/>
        <a href="https://github.com/pspelman" target="_blank">github.com/pspelman</a><br/>
        <a href="https://www.researchgate.net/profile/Philip_Spelman" target="_blank">researchgate.net/profile/Philip_Spelman</a><br/>
      </div>

      <!--<div class="col-sm-12-hr-left"></div>-->

      <div class="innerDiv toolbox">
        <h1 class="toolbox-heading-h1 col-sm-12 col-md-12 col-lg-12">Technical Toolbox</h1>
        <div class="tool-blocks">
          <h2 class="toolbox-heading">Front-end</h2>
          <ul>
            <li>React</li>
            <li>Angular, EJS</li>
            <li>JavaScript</li>
            <li>HTML, CSS, SCSS</li>
            <li>jQuery, AJAX</li>
          </ul>
        </div>

        <div class="tool-blocks">
          <h2 class="toolbox-heading">Back-end</h2>
          <ul>
            <li>Node.js (Next.js, Express)</li>
            <li>Python (Django, Flask)</li>
            <li>Apache Kafka, RabbitMQ, MQTT</li>
            <li>Java (Spring, JavaFX)</li>
          </ul>
        </div>

        <div class="tool-blocks">
          <h2 class="toolbox-heading">Database</h2>
          <ul>
            <li>Postgres, MySQL, SQLite</li>
            <li>MongoDB, InfluxDB, Firebase</li>
            <li>Microsoft SQL Server</li>
            <li>Access, Excel</li>
          </ul>
        </div>


        <div class="tool-blocks">
          <h2 class="toolbox-heading">IDEs & Design Tools</h2>
          <ul>
            <li>IntelliJ, PyCharm, Datagrip</li>
            <li>VS Code, Xcode</li>
            <li>Postman</li>
            <li>Android Studio</li>
            <li>Android Studio</li>
            <li>Adobe XD, Illustrator</li>
            <li>Figma</li>
          </ul>
        </div>


        <div class="tool-blocks">
          <h2 class="toolbox-heading">Data Science / ML</h2>
          <ul>
            <li>Pandas, Numpy, PyTorch</li>
            <li>matplotlib, seaborn, plotly</li>
            <li>scikit-learn, tensorflow, keras</li>
          </ul>
        </div>


        <div class="tool-blocks">
          <h2 class="toolbox-heading">Statistics</h2>
          <ul>
            <li>Regression</li>
            <li>ANOVA, ANCOVA</li>
            <li>Structural Eq Modeling</li>
            <li>EFA / CFA</li>
            <li>Stata, SPSS, R, Mplus</li>
          </ul>
        </div>


        <div class="tool-blocks">
          <h2 class="toolbox-heading">Exp Design</h2>
          <ul>
            <li>Experimental</li>
            <li>Quasi-experimental</li>
            <li>Independent measures</li>
            <li>Repeated measures</li>
            <li>ESM / EMA</li>
          </ul>
        </div>




        <div class="tool-blocks">
          <h2 class="toolbox-heading">Misc Tech</h2>
          <ul>
            <li>RaspberryPi, Arduino</li>
            <li>MATLAB</li>
            <li>Cogent toolbox</li>
            <li>Physiolab</li>
          </ul>
        </div>


        <!--<p>Full-Stack Web Development</p>-->
        <!--<p>Database design</p>-->
        <!--<p>Statistical Analysis</p>-->
        <!--<p>Academic Research</p>-->
        <!--<p>Experimental design</p>-->
        <!--<p>Psychological assessment</p>-->
        <!--<p>Clinical intervention</p>-->
        <!--<p>Treatment planning</p>-->
        <!--<p>Risk assessment</p>-->
      </div>


      <div class="innerDiv publications">
        <h1 class="publications-heading-h1 col-sm-12 col-md-12 col-lg-12">SELECT PUBLICATIONS</h1>
        <div class="publications-block">
          Spelman, P. J., & Simons, J. S. (2018). Effects of sexual arousal
          and alcohol cues on acute motivation for alcohol. Archives of
          Sexual Behavior, 47(6). <a href="https://link.springer.com/article/10.1007%2Fs10508-018-1195-6"
                                     target="_blank">doi:10.1007/s10508-018-1195-6</a>
        </div>


        <div class="publications-block">
          Simons, J. S., Wills, T. A., Emery, N. N., & Spelman, P. J. (2016).
          Keep calm and carry on: Maintaining self-control when
          intoxicated, upset, or depleted. Cognition and Emotion, 30,
          1415-1429. <a href="https://tandfonline.com/doi/abs/10.1080/02699931.2015.1069733" target="_blank">doi:
          10.1080/02699931.2015.1069733</a>
        </div>


        <div class="publications-block">
          Collins, S. E., Kirouac, M., Taylor, E., Spelman, P. J., Grazioli, V.,
          Hoffman, G., . . . Hicks, J. (2014). Advantages and disadvantages of
          college drinking in students’ own words: Content analysis of the
          decisional balance worksheet. Psychology of Addictive Behaviors, 28,
          727-733. <a href="http://psycnet.apa.org/buy/2014-33495-001" target="_blank">doi: 10.1037/a0036354</a>
        </div>

        <div class="publications-block">
          Collins, S. E., & Spelman, P. J. (2013). Associations of descriptive
          and reflective injunctive norms with risky college drinking.
          Psychology of Addictive Behaviors, 27(4), 1175-1181. <a href="https://ncbi.nlm.nih.gov/pubmed/24364691"
                                                                  target="_blank">doi:10.1037/a0032828</a>
        </div>


      </div>
    </div>


    <div id="right_column" class="col-sm-8 ">

      <div class="major-section offset-sm-1">
        <div class="col-sm-12">
          <div class="section-top">
            <h1 class="section-heading">
              Experience
            </h1>
          </div>
        </div>

        <!--<div class="hr-right col-sm-12"></div>-->


        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-heading">
            <span style="color:rgb(65,61,152);">Software Engineer</span> |<br>AutoFi (6/2021 - 7/2023)</h5>
          <span class="small">
            Full-stack engineer. Worked with the team building products for Santander USA (SCUSA). Backend and frontend work with Node and React using Next.js, testing with Jest and Mocha, MySQL, MongoDB, GraphQL. Database creation, analysis and optimization. DevOps work with Docker,
            API design and implementation.
          </span>
          <br/><br/>
          <ul>
            <h5>Projects / Accomplishments</h5>
            <li>Designed and implemented user management including a custom 2-factor authentication solution leveraging Amazon SES and the Twilio API for Santander Drive Marketplace customers</li>
            <li>Designed and implemented customer relationship management (CRM) integration compliant with the Auto-lead Data Format (ADF) spec to accurately push new opportunities to dealer users of the Santander Dealer Portal</li>
            <li>Point person collaborating with multiple Santander engineering teams to deliver a proxy-based Single sign-on (SSO) solution for the Santander Dealer Portal leveraging Santander's enterprise SSO.</li>
            <li>Ownership of onboarding new engineers. I streamlined the onboarding process by updating outdated docs, creating checklists with required and optional tools and steps, and creating bash scripts to speed up executing common terminal-based tasks. The result was a reduction in time to first commit from ~2 weeks to 1 day.</li>
            <li>Improved CI/CD, consistency across environments, and scalability by implementing containerization with Docker for the Santander Dealer Portal and Drive Marketplace products</li>
          </ul>

        </div>

        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-heading">
            <span style="color:rgb(65,61,152);">Software Engineer</span> |<br>Vaporstream (11/2020 - 8/2021)</h5>
          <span class="small">
            Full-stack engineer. Projects included backend work in Python and Node, DevOps work with Docker and Kubernetes,
            API design and documentation, and frontend work with React, Angular, and desktop app creation with Electron.
          </span>
          <br/><br/>
          <ul>
            <h5>Projects / Accomplishments</h5>
            <li>Developed desktop chat app with Electron + React, adapted to use the Vaporstream backend via
              websockets
            </li>
            <li>Designed / documented API for 3rd parties to manage emergency response contacts</li>
            <li>Created Docker setup to facilitate rapid establishment of local development environment for future
              developers
            </li>
          </ul>

        </div>

        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-heading">
            <span style="color:rgb(65,61,152);">Lead Software Engineer Engineer</span> | Hibersense (8/2018 - 6/2023)
          </h5>
          <span class="small">
            Lead fullstack dev at a fast-paced, Pittsburgh-based start-up.
            Responsible for designing, implementing, testing, and deploying code to control HVAC systems for customer comfort.
            Building tech support tools and using data science to analyze system performance.
            Developing algorithms to intelligently manage system state using scheduling, occupancy, and other user preferences.
          </span>
          <br/><br/>
          <ul>
            <h5>Projects / Accomplishments</h5>
            <li>Wrote algorithms for hub control logic (control of HVAC state, vent position, scheduling, cue-contingent
              scene activation, etc.)
            </li>
            <li>Wrote API logic for hub integrations with 3rd-party software</li>
            <li>Wrote algorithms for dynamic device assignment / pairing in multi-device systems</li>
            <li>Created system health monitor and alerts utilities</li>
            <li>Developed tools for developers to perform real-time debugging and troubleshooting</li>
            <li>Contributed to Hibersense app codebase in react native</li>
            <li>Wrote utilities for QA processes, including automated device testing</li>
            <li>Wrote utilities to streamline new hardware provisioning</li>
            <li>Built second layer communication system to control devices via MQTT as a fallback for remote system
              control
            </li>
            <li>Developed hub extender solution with Raspberry Pi Zero</li>
          </ul>

        </div>


        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-project-heading"><a href="http://philspelman.com/research"
                                                                      class="font-weight-bold sub-section-project-heading"
                                                                      target="_blank">Accessible Online Purchase Tasks
            for Researchers</a></h5>
          <!--<span class="project-description"><b><em>Description:</em></b> -->
          The goal of this project is a researcher-friendly tool that facilitates gathering, cleaning, and analyzing
          participant purchase task data for research in behavioral economics.
          <!--</span>-->
          <br/>
          <span class="small tech"><b>Tech:</b> Python (Django), HTML, SQLite, MySQL, R</span>
        </div>


        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-project-heading">(Emotion) Attention Network Task (ANT)</h5>
          <!--<span class="project-description"><b><em>Description:</em></b> -->
          A version of the Attention Network Task administered via MATLAB. Researchers may define their own lists of
          words and administer the task with a button box or user's keyboard.
          <!--</span>-->
          <br/>
          <span
            class="small tech"><b>Tech:</b> MATLAB, FTDI UM245R USB-to-Parallel Interface, homemade button box</span>
        </div>


        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-project-heading">Crate Pushing Game</h5>
          <!--<span class="project-description"><b><em>Description:</em></b> -->
          Final project for a graduate-level course in rich web application development. The crate pusher game features
          a small bulldozer controlled by the user. It implements randomly generated puzzles and saves them to the DB if
          the user wins.
          <!--</span>-->
          <br/>
          <span class="small tech"><b>Tech:</b> JavaScript, PHP, MySQL, AJAX, HTML, CSS</span>
        </div>


        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-project-heading">Reaction Time Benchmarking</h5>
          <!--<span class="project-description"><b><em>Description:</em></b>-->
          Benchmark testing of the mobile ecological momentary assessment (mEMA) app for research. Conceived and iterated approaches to
          to benchmarking the accuracy of the app's reaction time feature, including using light sensors, constructing
          Arduino-powered servo-actuated robotic stylus, and other approaches to simulate finger press on the screen. (see examples)
          <!--</span>-->
          <br/>
          <li><a href="https://youtu.be/QcF9M9o2cFw" target="_blank">Arduino button presser</a></li>
          <li><a href="https://youtu.be/d3ZfF-KDVTE" target="_blank">Switch test</a></li>
          <li><a href="https://youtu.be/VIvsph1iD54" target="_blank">Finger press simulation</a></li>
          <span class="small tech"><b>Tech:</b> Arduino, MATLAB, FTDI UM245R Interface, SG90 micro servo motors</span>
        </div>

      </div>
      <div class="major-section offset-sm-1">
        <div class="col-sm-12">
          <div class="section-top">
            <h1 class="section-heading">
              Projects
            </h1>
          </div>
        </div>

        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-project-heading"><a href="http://philspelman.com/research"
                                                                      class="font-weight-bold sub-section-project-heading"
                                                                      target="_blank">Accessible Online Purchase Tasks
            for Researchers</a></h5>
          <!--<span class="project-description"><b><em>Description:</em></b> -->
          The goal of this project was to create an online tool for behavioral economics researchers of substance use to assess motivation
          for alcohol. The project allows any researcher to administer the task to participants without reconstructing it themselves.
          Features I build include cleaning the data, flagging irregularities, and extracting key demand curve indicators.
          By including a participant ID and a researcher email in the URL, each participant's data are sent to the researcher
          upon task completion thereby simplifying the data collection process.
          <!--</span>-->
          <br/>
          <span class="small tech"><b>Tech:</b> Python (Django), HTML, SQLite, MySQL, R</span>
        </div>


        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-project-heading">(Emotion) Attention Network Task (ANT)</h5>
          <!--<span class="project-description"><b><em>Description:</em></b> -->
          A version of the Attention Network Task administered via MATLAB. Researchers may define their own lists of
          words and administer the task with a button box or user's keyboard.
          <!--</span>-->
          <br/>
          <span
            class="small tech"><b>Tech:</b> MATLAB, FTDI UM245R USB-to-Parallel Interface, homemade button box</span>
        </div>


        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-project-heading">Crate Pushing Game</h5>
          <!--<span class="project-description"><b><em>Description:</em></b> -->
          Final project for a graduate-level course in rich web application development. The crate pusher game features
          a small bulldozer controlled by the user. It implements randomly generated puzzles and saves them to the DB if
          the user wins.
          <!--</span>-->
          <br/>
          <span class="small tech"><b>Tech:</b> JavaScript, PHP, MySQL, AJAX, HTML, CSS</span>
        </div>


        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-project-heading">Reaction Time Benchmarking</h5>
          <!--<span class="project-description"><b><em>Description:</em></b>-->
          Feature testing of the mEMA app for research using ecological momentary assessment. Currently exploring ways
          to benchmark the accuracy of the reaction time feature. Designed several approaches for testing its accuracy,
          including using MATLAB to communicate with light sensors, Arduino-powered robotic styluses attached to servo
          motors, and simulated finger. (see examples)
          <!--</span>-->
          <br/>
          <li><a href="https://youtu.be/QcF9M9o2cFw" target="_blank">Arduino button presser</a></li>
          <li><a href="https://youtu.be/d3ZfF-KDVTE" target="_blank">Switch test</a></li>
          <li><a href="https://youtu.be/VIvsph1iD54" target="_blank">Finger press simulation</a></li>
          <span class="small tech"><b>Tech:</b> Arduino, MATLAB, FTDI UM245R Interface, SG90 micro servo motors</span>
        </div>

      </div>

      <div class="major-section offset-sm-1">
        <div class="col-sm-12">
          <div class="section-top">
            <h1 class="section-heading">
              Education
            </h1>
          </div>
        </div>
        <!--<div class="hr-right col-sm-12"></div>-->
        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-heading">Certificate of Achievement, <span
            style="color:rgb(65,61,152);">Full-Stack Software Development</span> | Coding Dojo</h5>
          <span class="small">A rigorous full-stack, software development training program including over 1200 hours of coding. Covered front-end fundamentals, RESTful best practic$
          </span>
        </div>

        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-heading">
            Certificate in <span style="color:rgb(65,61,152);">Database Management</span>
          </h5>
          <span>A 9-month night program covering fundamentals of theory, design, and implementation of relational databases.
          </span>
        </div>

        <div class="sub-section col-sm-12">
          <h5 class="font-weight-bold sub-section-heading">
            M.A. Clinical Psychology
          </h5>
          <h6>Doctoral Program in Clinical Psychology | University of South Dakota</h6>
        </div>

        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-heading">
            B.S. Psychology
          </h5>
          <h6>Seattle University</h6>
        </div>

      </div>


    </div>
  </div>
</div>


<!--<div class="offset-sm-3"></div>-->
<!--&lt;!&ndash;todo: replace hr div with ng element &ndash;&gt;-->
<!--<div class="hr-left col-sm-12"></div>-->

<!--<div class="resume-element">-->
<!--<h1>-->
<!--Education-->
<!--</h1>-->
<!--<div class="education-item offset-sm-1">-->
<!--<h2 class="offset-sm-2">SEATTLE UNIVERSITY</h2>-->
<!--<span>Bachelor of Science in Psychology</span>-->
<!--</div>-->

<!--<div class="education-item offset-sm-1">-->
<!--<h2 class="offset-sm-5">UNIVERSITY OF SOUTH DAKOTA</h2>-->
<!--<span>Master of Arts in <br/>Clinical Psychology</span>-->
<!--</div>-->
<!--</div>-->
