<div id="resume-top">
</div>
<br/>
<br/>
<br/>

<div class="neutral-backdrop">
  <div class="col-sm-12 resume-holder">

    <div id="left_column" class="col-sm-4">
      <div class="name_title offset-sm-3">
        <span id="name_holder">Philip J.<br/>
          Spelman,<br/>
           M.A.</span>
      </div>
      <div class="innerDiv offset-sm-3">
        <div id="tagline">
          <h2 class="left">
            SOFTWARE DEVELOPER,<br/>RESEARCHER, CLINICIAN
          </h2>
        </div>
      </div>

      <!--<div class="hr-left col-sm-12"></div>-->
      <div class="innerDiv contact-info">
        +1-206-920-3951<br/>
        <a href="mailto:phil_spelman@hotmail.com">phil_spelman@hotmail.com</a><br/>
        <a href="http://philspelman.com" target="_blank">philspelman.com</a><br/>
        <a href="https://www.linkedin.com/in/philspelman" target="_blank">linkedin.com/in/philspelman</a><br/>
        <a href="https://github.com/pspelman" target="_blank">github.com/pspelman</a><br/>
        <a href="https://www.researchgate.net/profile/Philip_Spelman" target="_blank">researchgate.net/profile/Philip_Spelman</a><br/>
      </div>

      <!--<div class="col-sm-12-hr-left"></div>-->

      <div class="innerDiv toolbox">
        <h1 class="toolbox-heading-h1 col-sm-12 col-md-12 col-lg-12">Technical Toolbox</h1>
        <div class="tool-blocks">
          <h2 class="toolbox-heading">Front-end</h2>
          <ul>
            <li>Angular, EJS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>HTML, CSS, SCSS</li>
            <li>jQuery, AJAX</li>
          </ul>
        </div>

        <div class="tool-blocks">
          <h2 class="toolbox-heading">Back-end</h2>
          <ul>
            <li>JavaScript (NodeJS)</li>
            <li>Java (Spring, JavaFX)</li>
            <li>Python (Flask, Django)</li>
            <li>PHP</li>
          </ul>
        </div>

        <div class="tool-blocks">
          <h2 class="toolbox-heading">Database</h2>
          <ul>
            <li>MongoDB, Postgres</li>
            <li>Microsoft SQL Server</li>
            <li>MySQL, SQLite</li>
            <li>Access, Excel</li>
            <li>MySQL Workbench</li>
            <li>DataGrip</li>
          </ul>
        </div>


        <div class="tool-blocks">
          <h2 class="toolbox-heading">IDEs / Tools</h2>
          <ul>
            <li>IntelliJ</li>
            <li>WebStorm</li>
            <li>PyCharm</li>
            <li>Spring Tool Suite</li>
            <li>Postman</li>
            <li>Android Studio</li>
          </ul>
        </div>


        <div class="tool-blocks">
          <h2 class="toolbox-heading">Data Science / ML</h2>
          <ul>
            <li>Pandas, Numpy</li>
            <li>matplotlib, seaborn, plotly</li>
            <li>scikit-learn, tensorflow, keras</li>
          </ul>
        </div>




        <div class="tool-blocks">
          <h2 class="toolbox-heading">Design Tools</h2>
          <ul>
            <li>Photoshop</li>
            <li>Illustrator</li>
            <li>Dreamweaver</li>
            <li>Premiere Pro</li>
          </ul>
        </div>


        <div class="tool-blocks">
          <h2 class="toolbox-heading">Exp Design</h2>
          <ul>
            <li>Experimental</li>
            <li>Quasi-experimental</li>
            <li>Independent measures</li>
            <li>Repeated measures</li>
            <li>ESM / EMA</li>
          </ul>
        </div>


        <div class="tool-blocks">
          <h2 class="toolbox-heading">Statistics</h2>
          <ul>
            <li>Regression</li>
            <li>ANOVA, ANCOVA</li>
            <li>Structural Eq Modeling</li>
            <li>EFA / CFA</li>
            <li>Stata, SPSS, R, Mplus</li>
          </ul>
        </div>

        <div class="tool-blocks">
          <h2 class="toolbox-heading">Misc Tech</h2>
          <ul>
            <li>MATLAB</li>
            <li>Cogent toolbox</li>
            <li>Arduino</li>
            <li>Physiolab</li>
          </ul>
        </div>



        <!--<p>Full-Stack Web Development</p>-->
        <!--<p>Database design</p>-->
        <!--<p>Statistical Analysis</p>-->
        <!--<p>Academic Research</p>-->
        <!--<p>Experimental design</p>-->
        <!--<p>Psychological assessment</p>-->
        <!--<p>Clinical intervention</p>-->
        <!--<p>Treatment planning</p>-->
        <!--<p>Risk assessment</p>-->
      </div>





      <div class="innerDiv publications">
        <h1 class="publications-heading-h1 col-sm-12 col-md-12 col-lg-12">SELECT PUBLICATIONS</h1>
        <div class="publications-block">
          Spelman, P. J., & Simons, J. S. (2018). Effects of sexual arousal
          and alcohol cues on acute motivation for alcohol. Archives of
          Sexual Behavior, 47(6). <a href="https://link.springer.com/article/10.1007%2Fs10508-018-1195-6" target="_blank">doi:10.1007/s10508-018-1195-6</a>
        </div>


        <div class="publications-block">
          Simons, J. S., Wills, T. A., Emery, N. N., & Spelman, P. J. (2016).
          Keep calm and carry on: Maintaining self-control when
          intoxicated, upset, or depleted. Cognition and Emotion, 30,
          1415-1429. <a href="https://tandfonline.com/doi/abs/10.1080/02699931.2015.1069733" target="_blank">doi: 10.1080/02699931.2015.1069733</a>
        </div>


        <div class="publications-block">
          Collins, S. E., Kirouac, M., Taylor, E., Spelman, P. J., Grazioli, V.,
          Hoffman, G., . . . Hicks, J. (2014). Advantages and disadvantages of
          college drinking in students’ own words: Content analysis of the
          decisional balance worksheet. Psychology of Addictive Behaviors, 28,
          727-733. <a href="http://psycnet.apa.org/buy/2014-33495-001" target="_blank">doi: 10.1037/a0036354</a>
        </div>

        <div class="publications-block">
          Collins, S. E., & Spelman, P. J. (2013). Associations of descriptive
          and reflective injunctive norms with risky college drinking.
          Psychology of Addictive Behaviors, 27(4), 1175-1181. <a href="https://ncbi.nlm.nih.gov/pubmed/24364691" target="_blank">doi:10.1037/a0032828</a>
        </div>


      </div>
    </div>





    <div id="right_column" class="col-sm-8 ">

      <div class="major-section offset-sm-1" >
        <div class="col-sm-12">
          <div class="section-top">
            <h1 class="section-heading">
              Programming Experience
            </h1>
          </div>
        </div>

        <!--<div class="hr-right col-sm-12"></div>-->


        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-heading">
            <span style="color:rgb(65,61,152);">Software Development Engineer</span> | Hibersense (8/2018 - present)</h5>
          <span class="small">
            Lead fullstack dev at a fast-paced, Pittsburgh-based start-up.
            Responsible for designing, implementing, testing, and deploying code to control HVAC systems for customer comfort.
            Building tech support tools and using data science to analyze system performance.
            Developing algorithms to intelligently manage system state using scheduling, occupancy, and other user preferences.
          </span>
        </div>



        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-heading">Certificate of Achievement, <span style="color:rgb(65,61,152);">Full-Stack Software Development</span> | Coding Dojo</h5>
          <span class="small">A rigorous full-stack, software development training program including over 1200 hours of coding. Covered front-end fundamentals, RESTful best practic$
          </span>
        </div>


        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-heading">
            Certificate in <span style="color:rgb(65,61,152);">Database Management</span>
          </h5>
          <span>A 9-month night program covering fundamentals of theory, design, and implementation of relational databases.
          </span>
        </div>

        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-project-heading"><a href="http://philspelman.com/research" class="font-weight-bold sub-section-project-heading" target="_blank">Accessible Online Purchase Tasks for Researchers</a></h5>
          <!--<span class="project-description"><b><em>Description:</em></b> -->
          The goal of this project is a researcher-friendly tool that facilitates gathering, cleaning, and analyzing participant purchase task data for research in behavioral economics.
          <!--</span>-->
          <br/>
          <span class="small tech"><b>Tech:</b> Python (Django), HTML, SQLite, MySQL, R</span>
        </div>


        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-project-heading">(Emotion) Attention Network Task (ANT)</h5>
          <!--<span class="project-description"><b><em>Description:</em></b> -->
          A version of the Attention Network Task administered via MATLAB. Researchers may define their own lists of words and administer the task with a button box or user's keyboard.
          <!--</span>-->
          <br/>
          <span class="small tech"><b>Tech:</b> MATLAB, FTDI UM245R USB-to-Parallel Interface, homemade button box</span>
        </div>


        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-project-heading">Crate Pushing Game</h5>
          <!--<span class="project-description"><b><em>Description:</em></b> -->
          Final project for a graduate-level course in rich web application development. The crate pusher game features a small bulldozer controlled by the user. It implements randomly generated puzzles and saves them to the DB if the user wins.
          <!--</span>-->
          <br/>
          <span class="small tech"><b>Tech:</b> JavaScript, PHP, MySQL, AJAX, HTML, CSS</span>
        </div>


        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-project-heading">Reaction Time Benchmarking</h5>
          <!--<span class="project-description"><b><em>Description:</em></b>-->
          Feature testing of the mEMA app for research using ecological momentary assessment. Currently exploring ways to benchmark the accuracy of the reaction time feature. Designed several approaches for testing its accuracy, including using MATLAB to communicate with light sensors, Arduino-powered robotic styluses attached to servo motors, and simulated finger. (see examples)
          <!--</span>-->
          <br/>
          <li><a href="https://youtu.be/QcF9M9o2cFw" target="_blank">Arduino button presser</a></li>
          <li><a href="https://youtu.be/d3ZfF-KDVTE" target="_blank">Switch test</a></li>
          <li><a href="https://youtu.be/VIvsph1iD54" target="_blank">Finger press simulation</a></li>
          <span class="small tech"><b>Tech:</b> Arduino, MATLAB, FTDI UM245R Interface, SG90 micro servo motors</span>
        </div>

      </div>

      <div class="major-section offset-sm-1" >
        <div class="col-sm-12">
          <div class="section-top">
            <h1 class="section-heading">
              Education
            </h1>
          </div>
        </div>
        <!--<div class="hr-right col-sm-12"></div>-->

        <div class="sub-section col-sm-12">
          <h5 class="font-weight-bold sub-section-heading">
            M.A. Clinical Psychology | 3.85 GPA
          </h5>
          <h6>Doctoral Program in Clinical Psychology | University of South Dakota</h6>
        </div>

        <div class="sub-section col-sm-11">
          <h5 class="font-weight-bold sub-section-heading">
            B.S. Psychology | 3.66 GPA
          </h5>
          <h6>Seattle University</h6>
        </div>

      </div>



      <div class="major-section offset-sm-1" >
        <div class="col-sm-12">
          <div class="section-top">
            <h1 class="section-heading">
              Computer Science Education
            </h1>
          </div>
        </div>

        <!--<div class="hr-right col-sm-12"></div>-->

        <div class="sub-section-other col-sm-12">
          <li class="col-sm-12">IT 111 - Internet and Web Authoring</li>
          <li class="col-sm-12">CSC 110 - Intro to Computer Programming</li>
          <li class="col-sm-12">CSC 111 - Computers for Math and Science</li>
          <li class="col-sm-12">CSC 501 - Rich Internet Applications</li>
          <li class="col-sm-12">DATAMAN 100 - Database System Fundamentals</li>
          <li class="col-sm-12">DATAMAN 110 - Database Design & Implementation</li>
          <li class="col-sm-12">DATAMAN 120 - Database Administration</li>
          <li class="col-sm-12">PSYC 770 - Research Instrumentation & Computers</li>
        </div>
      </div>
      <br/>
    </div>
  </div>
</div>



<!--<div class="offset-sm-3"></div>-->
<!--&lt;!&ndash;todo: replace hr div with ng element &ndash;&gt;-->
<!--<div class="hr-left col-sm-12"></div>-->

<!--<div class="resume-element">-->
<!--<h1>-->
<!--Education-->
<!--</h1>-->
<!--<div class="education-item offset-sm-1">-->
<!--<h2 class="offset-sm-2">SEATTLE UNIVERSITY</h2>-->
<!--<span>Bachelor of Science in Psychology</span>-->
<!--</div>-->

<!--<div class="education-item offset-sm-1">-->
<!--<h2 class="offset-sm-5">UNIVERSITY OF SOUTH DAKOTA</h2>-->
<!--<span>Master of Arts in <br/>Clinical Psychology</span>-->
<!--</div>-->
<!--</div>-->
